* {
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    margin: 0;
    background-color: lightblue;
    counter-reset: Serial;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 100%;
}

table
{
    border-collapse: separate;
}

tr td:first-child:before
{
    counter-increment: Serial;
    content: counter(Serial) ".";
    text-align: right;
}
.header {
    float: left;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
}

.header.left {
    width: 90%;
}

.header.right {
    width: 10%;
    text-align: center;
}

.column {
    background-color: #c1c1c1;
    float: left;
    padding: 10px;
    text-align: center;
}

.column.side {
    width: 33%;
}

.column.middle {
    width: 34%;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: auto;
    top: 100%;
    left: 50%;
    width: 30%;
    font-family: 'Verdana';
}

.input {
    width: 50%
    padding: 2px 20px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.logout {
    margin: 5px;
}

.uplbuttontext {
    text-align: right;
}
.uplbuttons {

}

.item
{

}

.items {
	width: 100%;
    padding: 3px 5px;
    margin: 1px 2px;
    display: inline-block;
    font-family: 'Verdana';
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
    text-decoration: none;
    color: #000;
    text-shadow: 
}

.inputs {
    width: 100%;
    padding: 5px 10px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}